html body {
	background-color: #EDF4F7;
	margin-top: 40px;
}

table.table {
	margin-bottom: 0;
}

#content {
	padding: 15px;
}

.actions {
	margin-bottom: 15px;
	padding: 5px;
	border-radius: 3px;
}

a.tpb {
	bottom: 20px;
	position: absolute;
	right: 40px;
}

a.imdb {
	bottom: 20px;
	position: absolute;
	right: 80px;
}

#container .next-up table.movie-list img.poster-image {
	width: 120px;
}

fieldset.block {
	padding: 10px;
	border: 1px solid #f9f9f9;
	background-color: #fcfcfc;
	margin-bottom: 20px;
}

fieldset legend {
	margin-bottom: 0;
	border: none;
}

div.next-up fieldset {
	background-color: #FFE0E0;
}

nav.main-menu {
	background-color: #125F80;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 100;
}

nav.main-menu a {
	color: #EDF4F7;	
}

.nav > li > a:hover, 
.nav > li > a:focus {
	background-color: inherit;
	text-decoration: underline;
}

.nav > li > a.active {
	background-color: #d9534f;
	border-radius: 5px 5px 0 0;
	color: #125F80;
}

#calendar span.fc-time {
	display: block;
}

img.poster-thumb {
	width: 70px;
	height: auto;
	border-radius: 4px;
}

.modal-dialog {
	width: 730px;
}

.nav-pills > li > a {
	border-radius: 0;
}

table.movie-list .title span.year,
#movie-popup .title span.year {
	font-size: 75%;
	color: #666;
}

table.movie-list .title span.year:before,
#movie-popup .title span.year:before {
	content: "(";
}

table.movie-list .title span.year:after,
#movie-popup .title span.year:after {
	content: ")";;
}

#movie-popup .movie-info {
	padding: 10px 0;
}

#movie-popup .movie-info span.label {
	font-weight: bold;
}

#movie-popup .movie-info.comments {
	border: 1px solid #ddd;
	border-radius: 15px;
	padding: 10px;
}

#movie-popup .details {
	position: static;
}

table tr:not(.arranged) {
	position: relative;
}

table tr:not(.arranged) .poster{
    background-color: #fff;
    border-radius: 4px;
    display: none;
    left: -76px;
    padding: 2px;
    position: absolute;
    top: -30px;
    z-index: 1;
}

table tr:not(.arranged) .poster img {
	border-radius: 4px;
}

table.movie-list .main-movie-info:hover .poster {
	display: block;
}
/*
 *
 *   SPEECH BUBBLE FOR MOVIE COMMENTS
 *
 */

#movie-popup .movie-info.bubble {
	position: relative;
	width: 390px;
	min-height: 40px;
	padding: 10px;
	background: #;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #ddd solid 2px;
}

#movie-popup .movie-info.bubble:after {
	content: '';
	position: absolute;
	border-color: # transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -14px;
	bottom: -15px;
	left: 84%;
}

#movie-popup .movie-info.bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 17px 16px 0;
	border-color: #ddd transparent;
	display: block;
	width: 0;
	z-index: 0;
	margin-left: -16px;
	bottom: -18px;
	left: 84%;
}

/**
 *
 *  ADD MOVIE FORM
 *
 */

#add-movie .input {
	display: inline-block;
	margin: 10px;
}

#add-movie label {
	display: block;
}

#add-movie .vertical {
	display: inline-block;
}

#add-movie .vertical .input {
	display: block;
}
/*
.modal .poster img.poster-image {
	width: 100%;
}

#content > h1 {
    background-color: #efefef;
    border: 1px solid;
    border-radius: 3px;
    font-size: 2em;
    padding: 0.5rem;
}


nav.main-menu ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 6px;
    padding: 6px;
}

#calendar {
	max-width: 700px;
}

table.movie-list tr.arranged td:first-child {
    border-left: 13px solid #ff0055;
}

table.movie-list tr.arranged td {
	background-color: #FFC7DA;
}

input {
	font-size: 100%;
    padding: 4px;
}

form .submit input[type="submit"] {
	padding: 3px 10px;
}


#calendar h2 {
	background: none;
	font-size: 150%;
	color: initial;
}
.half {
	max-width: 50%
}

.clear {
	clear: both;
}

form div {
	clear: none;
}

.hidden {
	visibility: hidden;
}

.none {
	display: none;
}*/