/*  
 * PALETTE
 *
 * light blue: #c5d3d9;
 * blue: #1f8da6;
 * gray: #736f68;
 * orange: #d97b29;
 * red: #bf3415;

*/

html body {
	background-color: #E0E6EA;
	margin-top: 40px;
	color: #222;
}

table.table {
	margin-bottom: 0;
}

#content {
	padding: 15px;
}

a.tpb {
	bottom: 20px;
	position: absolute;
	right: 40px;
}

a.imdb {
	bottom: 20px;
	position: absolute;
	right: 80px;
}

span.warning {
	color: #ff0000;
}

#container .next-up table.movie-list img.poster-image {
	width: 120px;
}

fieldset.block {
	padding: 10px;
	box-shadow: 2px 2px 6px #999;
	background-color: #fcfcfc;
	margin-bottom: 20px;
}

fieldset.block legend {
	background-color: #fcfcfc;
	border-radius: 5px;
	margin-left: -10px;
	padding: 2px 14px 7px;
	width: auto;
}

fieldset legend {
	margin-bottom: 0;
	border: none;
}

div.next-up fieldset,
div.next-up fieldset legend {
	background-color: #F99544;
}

.next-up table.movie-list .description {
	border-left: 3px solid #6A7D87;
}

.next-up table.movie-list td {
	border: none;
}

nav.main-menu {
	background-color: #A0C6DA;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0 0 10px #000;
}

nav.main-menu a {
	color: #000;
}

nav.main-menu ul.submenu {
	display: none;
	list-style: none;
	padding: 0;
	position: absolute;
	min-width: 150px;
	background-color: #A0C6DA;
	border-radius: 0 0 3px 3px;
	border-top: 1px solid #666;
    box-shadow: 3px 4px 5px #666;
}

nav.main-menu li.parent-menu:hover ul.submenu {
	display: block;
}
nav.main-menu ul.submenu li {
    border-bottom: 1px solid #086086;
    margin: 3px 5px;
    padding: 3px 11px;
}

nav.main-menu ul.submenu li a:hover {
	text-decoration: none;
}
nav.main-menu ul.submenu li:last-child {
	border-bottom: none;	
}

.nav > li > a:hover, 
.nav > li > a:focus {
	background-color: inherit;
	text-decoration: underline;
}

.nav > li > a.active {
    background-color: #086086;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

#calendar span.fc-time {
	display: block;
}

#calendar.fc-unthemed .fc-sat,
#calendar.fc-unthemed .fc-sun {
	background-color: #f3f3f3;
}

#calendar.fc-unthemed .fc-today {
	background-color: #b3b3b3;
}

#calendar .fc-event {
	border: 1px solid #727272;
	background-color: #f99544;
	color: #222;
}

img.poster-thumb {
	width: 70px;
	height: auto;
	border-radius: 4px;
}

.modal-dialog {
	width: 730px;
}

.nav-pills > li > a {
	border-radius: 0;
}

form.datetime-form {
	background-color: #fff;
	border: 1px solid #ccc;
	display: block;
	padding: 13px;
	position: absolute;
	right: 10px;
	z-index: 1;
}

form.datetime-form a.hide-datetime {
	padding: 3px;
}

form.datetime-form div.input.text {
	margin-bottom: 7px;
}

.movie-list .title {
	font-size: 1.1em;
	margin-bottom: 5px;
}
table.movie-list .description {
	border-left: 3px solid #ddd;
	padding-left: 5px;
	margin-bottom: 5px;
}

table.table th {
	border-top: none !important;
}

.paginator span {
	margin: 0 4px;
}

h4.relative-time {
	margin-top: 0;
	margin-left: 3%;
}

h4.relative-time:before {
	content: "...";
}

table.movie-list .title .comments,
table.screenings .title .comments {
    color: #BE42BD;
    font-size: 12px;
}

table.movie-list .actions a,
table.screenings .actions a {
	color: #80A0B3; /* blue */
}

table.movie-list .actions span.glyphicon,
table.screenings .actions span.glyphicon {
	font-size: 24px;
}

table.movie-list .actions,
table.screenings .actions {
	width: 66px;
}

table.movie-list .actions > div,
table.screenings .actions > div {
	width: 26px;
	margin: 2px;
	display: inline-block;
}

table.movie-list .actions .screening,
table.screenings .actions .screening {
	position: relative;
}

table.movie-list .actions .screening .remove,
table.screenings .actions .screening .remove {
	font-size: 16px;
	color: #E43232; /* red */
	position: absolute;
	right: 0;
	top: 13px;
}


table.movie-list .actions .screening .add,
table.screenings .actions .screening .add {
	font-size: 16px;
	color: #008911; /* green */
	position: absolute;
	right: 0;
	top: 13px;
}

table.movie-list .actions .delete a,
table.screenings .actions .delete a {
	color: #E43232; /* red */
}

table.movie-list .actions,
table.screenings .actions {
	margin: 0;
}

table.movie-list .title span.year,
#movie-popup .title span.year {
	font-size: 75%;
	color: #666;
}
table.movie-list .title span.year:before,
#movie-popup .title span.year:before {
	content: "(";
}

table.movie-list .title span.year:after,
#movie-popup .title span.year:after {
	content: ")";;
}

#movie-popup .movie-info {
	padding: 5px 0;
}

#movie-popup .title h2 {
	margin-top: 0px;
}

#movie-popup .movie-info span.label {
	font-weight: bold;
}

#movie-popup .movie-info.comments{
	color: #555;
}

#movie-popup .details {
	position: static;
}

table tr:not(.arranged) .poster{
	background-color: #fff;
	border-radius: 4px;
	opacity: 0;
	padding: 2px;
	z-index: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

table tr:not(.arranged) .poster img {
	border-radius: 4px;
	display: none;
}

table tr:not(.arranged):hover .poster img {
	display: block;
}

table.movie-list td {
	position: relative;
}

table.movie-list tr:not(.arranged):hover .poster {
	transition-delay: .3s;
	position: absolute;
	left: -76px;
	top: -30px;
	opacity: 1;
}


/**
 *
 *  ADD MOVIE FORM
 *
 */

 #add-movie .input,
 #search-filters .input {
 	display: inline-block;
 	margin: 10px;
 }

 #add-movie label,
 #search-filters label {
 	display: block;
 }

 #add-movie .vertical,
 #search-filters .vertical {
 	display: inline-block;
 }

 #add-movie .vertical .input,
 #search-filters .vertical .input {
 	display: block;
 }

 #add-movie .poster,
 #search-filters .poster {
 	background-color: #ddd;
 	height: 450px;
 	margin: 20px;
 	width: 300px;
 }

 .btn-danger {
    background-color: #bf3415;
    border-color: #bf3415;
}

/**
 *
 *  MESSAGES
 *
 */

 #messages #message-list > .message {
 	border: 1px solid #ddd;
 	padding: 10px;
 	margin: 5px;
 	background-color: #fff;
 }
 
 #messages form label {
 	display: block;
 }

 #messages #message-list .user {
 	display: inline-block;
 	font-weight: bold;
 }

 #messages #message-list .date {
 	display: inline-block;
 	font-style: italic;
 	color: #555;
 }

 #messages textarea#MessageMessage {
 	width: 100%;
 }
 #messages #message-list {
 	max-height: 500px;
 	overflow-y: scroll;
 }

#flashMessage {
	background-color: #fff;
    font-size: 1.5em;
    margin: 20px;
    padding: 15px;
}