html body {
	background-color: #EDF4F7;
	margin-top: 60px;
}

.tpb-link a.tpb:before {
	content:url('../img/pirate_bay_tiny.jpg');
	padding-rightd: 10px;
}

#container .next-up table.movie-list img.poster-image {
	width: 120px;
}

fieldset.block {
	padding: 10px;
	border: 1px solid #f9f9f9;
	background-color: #fcfcfc;
	margin-bottom: 20px;
}

fieldset legend {
	margin-bottom: 0;
	border: none;
}

div.next-up fieldset {
	background-color: #FFE0E0;
}

nav.main-menu {
	background-color: #125F80;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 100;
}

nav.main-menu a {
	color: #EDF4F7;	
}

.nav > li > a:hover, 
.nav > li > a:focus {
    background-color: inherit;
    text-decoration: underline;
}

.nav > li > a.active {
    background-color: #d9534f;
    border-radius: 5px 5px 0 0;
    color: #125F80;
}

#calendar span.fc-time {
	display: block;
}

img.poster-thumb {
	width: 70px;
	height: auto;
}

.modal-dialog {
	width: 730px;
}

.nav-pills > li > a {
    border-radius: 0;
}

/*
.modal .poster img.poster-image {
	width: 100%;
}

#content > h1 {
    background-color: #efefef;
    border: 1px solid;
    border-radius: 3px;
    font-size: 2em;
    padding: 0.5rem;
}


nav.main-menu ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 6px;
    padding: 6px;
}

#calendar {
	max-width: 700px;
}

table.movie-list tr.arranged td:first-child {
    border-left: 13px solid #ff0055;
}

table.movie-list tr.arranged td {
	background-color: #FFC7DA;
}

input {
	font-size: 100%;
    padding: 4px;
}

form .submit input[type="submit"] {
	padding: 3px 10px;
}


#calendar h2 {
	background: none;
	font-size: 150%;
	color: initial;
}
.half {
	max-width: 50%
}

.clear {
	clear: both;
}

form div {
	clear: none;
}

.hidden {
	visibility: hidden;
}

.none {
	display: none;
}*/