#container table.movie-list img.poster-image {
	width: 120px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

#content > h1 {
    background-color: #efefef;
    border: 1px solid;
    border-radius: 3px;
    font-size: 2em;
    padding: 0.5rem;
}


nav.main-menu ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 6px;
    padding: 6px;
}

#calendar {
	max-width: 700px;
}

table.movie-list tr.arranged td:first-child {
    border-left: 13px solid #ff0055;
}

table.movie-list tr.arranged td {
	background-color: #FFC7DA;
}

input {
	font-size: 100%;
    padding: 4px;
}

form .submit input[type="submit"] {
	padding: 3px 10px;
}