html body {
	background-color: #E2F1F9;
	margin-top: 40px;
	color: #222;
}

table.table {
	margin-bottom: 0;
}

#content {
	padding: 15px;
}

.actions {
	margin-bottom: 15px;
	padding: 5px;
	border-radius: 3px;
}

a.tpb {
	bottom: 20px;
	position: absolute;
	right: 40px;
}

a.imdb {
	bottom: 20px;
	position: absolute;
	right: 80px;
}

span.warning {
	color: #ff0000;
}

#container .next-up table.movie-list img.poster-image {
	width: 120px;
}

fieldset.block {
	padding: 10px;
	border: 1px solid #f9f9f9;
	background-color: #fcfcfc;
	margin-bottom: 20px;
}

fieldset.block legend {
	background-color: #fcfcfc;
	border-radius: 5px;
	margin-left: -10px;
	padding: 2px 14px 7px;
	width: auto;
}

fieldset legend {
	margin-bottom: 0;
	border: none;
}

div.next-up fieldset,
div.next-up fieldset legend {
	background-color: #FF5C5C;
}

.next-up table.movie-list .description {
	border-left: 3px solid #6A7D87;
}

.next-up table.movie-list td {
	border: none;
}

nav.main-menu {
	background-color: #125F80;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 100;
}

nav.main-menu a {
	color: #EDF4F7;	
}

.nav > li > a:hover, 
.nav > li > a:focus {
	background-color: inherit;
	text-decoration: underline;
}

.nav > li > a.active {
	background-color: #d9534f;
	border-radius: 5px 5px 0 0;
	color: #125F80;
}

#calendar span.fc-time {
	display: block;
}

#calendar.fc-unthemed .fc-sat,
#calendar.fc-unthemed .fc-sun {
	background-color: #f3f3f3;
}

#calendar.fc-unthemed .fc-today {
	background-color: #b3b3b3;
}

#calendar .fc-event {
	border: 1px solid #727272;
	background-color: #DE4A4A;
	color: #222;
}

img.poster-thumb {
	width: 70px;
	height: auto;
	border-radius: 4px;
}

.modal-dialog {
	width: 730px;
}

.nav-pills > li > a {
	border-radius: 0;
}

form.datetime-form {
	background-color: #fff;
	border: 1px solid #ccc;
	display: block;
	padding: 13px;
	position: absolute;
	right: 10px;
	z-index: 1;
}

form.datetime-form a.hide-datetime {
	padding: 3px;
}

form.datetime-form div.input.text {
	margin-bottom: 7px;
}


.movie-list .title {
	font-size: 1.1em;
	margin-bottom: 5px;
}
table.movie-list .description {
	border-left: 3px solid #ddd;
	padding-left: 5px;
	margin-bottom: 5px;
}

table.table th {
	border-top: none !important;
}

.paginator span {
	margin: 0 4px;
}

h4.relative-time {
	margin-top: 0;
	margin-left: 3%;
}

h4.relative-time:before {
	content: "...";
}
table.movie-list .title span.year,
#movie-popup .title span.year {
	font-size: 75%;
	color: #666;
}

table.movie-list .title span.year:before,
#movie-popup .title span.year:before {
	content: "(";
}

table.movie-list .title span.year:after,
#movie-popup .title span.year:after {
	content: ")";;
}

#movie-popup .movie-info {
	padding: 5px 0;
}

#movie-popup .title h2 {
	margin-top: 0px;
}

#movie-popup .movie-info span.label {
	font-weight: bold;
}

#movie-popup .movie-info.comments {
	border: 1px solid #ddd;
	border-radius: 15px;
	padding: 10px;
}

#movie-popup .details {
	position: static;
}

table tr:not(.arranged) .poster{
	background-color: #fff;
	border-radius: 4px;
	opacity: 0;
	left: -76px;
	padding: 2px;
	position: absolute;
	top: -30px;
	z-index: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

table tr:not(.arranged) .poster img {
	border-radius: 4px;
}

table.movie-list td {
	position: relative;
}

table.movie-list tr:not(.arranged):hover .poster {
	transition-delay: .3s;
	opacity: 1;
}
/*
 *
 *   SPEECH BUBBLE FOR MOVIE COMMENTS
 *
 */

 #movie-popup .movie-info.bubble {
 	position: relative;
 	width: 390px;
 	min-height: 40px;
 	padding: 10px;
 	background: #;
 	-webkit-border-radius: 10px;
 	-moz-border-radius: 10px;
 	border-radius: 10px;
 	border: #ddd solid 2px;
 }

 #movie-popup .movie-info.bubble:after {
 	content: '';
 	position: absolute;
 	border-color: # transparent;
 	display: block;
 	width: 0;
 	z-index: 1;
 	margin-left: -14px;
 	bottom: -15px;
 	left: 84%;
 }

 #movie-popup .movie-info.bubble:before {
 	content: '';
 	position: absolute;
 	border-style: solid;
 	border-width: 17px 16px 0;
 	border-color: #ddd transparent;
 	display: block;
 	width: 0;
 	z-index: 0;
 	margin-left: -16px;
 	bottom: -18px;
 	left: 84%;
 }

/**
 *
 *  ADD MOVIE FORM
 *
 */

 #add-movie .input {
 	display: inline-block;
 	margin: 10px;
 }

 #add-movie label {
 	display: block;
 }

 #add-movie .vertical {
 	display: inline-block;
 }

 #add-movie .vertical .input {
 	display: block;
 }

 #add-movie .poster {
 	background-color: #ddd;
 	height: 450px;
 	margin: 20px;
 	width: 300px;
 }
/*
.modal .poster img.poster-image {
	width: 100%;
}

#content > h1 {
	background-color: #efefef;
	border: 1px solid;
	border-radius: 3px;
	font-size: 2em;
	padding: 0.5rem;
}


nav.main-menu ul li {
	display: inline-block;
	list-style: outside none none;
	margin: 6px;
	padding: 6px;
}

#calendar {
	max-width: 700px;
}

table.movie-list tr.arranged td:first-child {
	border-left: 13px solid #ff0055;
}

input {
	font-size: 100%;
	padding: 4px;
}

form .submit input[type="submit"] {
	padding: 3px 10px;
}


#calendar h2 {
	background: none;
	font-size: 150%;
	color: initial;
}
.half {
	max-width: 50%
}

.clear {
	clear: both;
}

form div {
	clear: none;
}

.hidden {
	visibility: hidden;
}

.none {
	display: none;
}*/